{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block choice_widget %}
{{ parent() }}
{% if sonata_help is defined and sonata_help %}
    <span class="help-block sonata-ba-field-widget-help">{{ sonata_help|raw }}</span>
{% endif %}
{% endblock choice_widget %}

{% block sonata_type_immutable_array_widget %}
{% if sonata_help is defined and sonata_help %}
    <span class="help-block sonata-ba-field-widget-help">{{ sonata_help|raw }}</span>
{% endif %}
{{ parent() }}
{% endblock sonata_type_immutable_array_widget %}

{% block sonata_type_immutable_array_widget_row %}
{{ parent() }}
{% if child.vars.sonata_help is defined and child.vars.sonata_help %}
    <span class="help-block sonata-ba-field-widget-help">{{ child.vars.sonata_help|raw }}</span>
{% endif %}
{% endblock sonata_type_immutable_array_widget_row %}
